<form action="/new" method="post" class="card bg-dark text-light">
    
    
    <div class = "card-body p-4">
        <div class = "mb-3">
            <label for="fullname">Write your Name: </label>
            <input type="text" name="fullname" placeholder="Write your Name"
            class ="form-control rounded-0 bg-dark border-0 text-white">
        </div>
    
        <div class = "mb-3">
            <label for="email">Write your Email: </label>
            <input type="email" name="email" placeholder="Write your Email"
            class ="form-control rounded-0 bg-dark border-0 text-white">
        </div>
    
        <div class = "mb-3">
            <label for="phone">Write your Phone: </label>
            <input type="tel" name="phone" placeholder="Write your Phone" 
            class ="form-control rounded-0 bg-dark border-0 text-white">
        </div>
    </div>  
    
    
<button class="btn btn-primary">
    save
</button>